{#
/**
* @file
* Default theme implementation to display a block.
*
* @see template_preprocess_block()
*
* @ingroup themeable
*/
#}

<section id="chat-block-main" class="children-hidden" style="z-index: {{ data['z-index']}}">

  <div class="chat-controls">
    <section>
      <div class="icon go-back no-show" title="Go back.">
      </div>

      <div class="icon info" title="Total unread">
        <span class="total">{{ data['total_unread'] }}</span>
      </div>

      <div class="icon maximize" title="Maximize chat view.">

      </div>

      <div class="icon minimize no-show" title="Minimize chat view.">

      </div>

{#      <div class="icon read">#}

{#      </div>#}

{#      <div class="icon unread">#}

{#      </div>#}

    </section>
  </div>

  <div class="chat-block no-show">

    <!-- User listing left -->
    <div class="users-wrapper">
      <div class="header">
        <div class="user-image">
          <img
            alt="User image"
            src="{{ dru_chat_missing_image }}"
            loading="lazy"
            onerror="this.onerror=null;this.src='{{ dru_chat_missing_image }}';"
          />
        </div>
        <div class="user-nav">
          <span>Users </span>
        </div>
      </div>
      <div class="users-list">

        {%  for user in data['users'] %}
          <div class="user" id="{{ user.id }}">

            <div class="user-content">
              <div class="user-image">
                <img
                  alt="User image"
                  src="{{ file_url(user.user_picture.entity.fileuri)  }}"
                  loading="lazy"
                  onerror="this.onerror=null;this.src='{{ dru_chat_missing_image }}';"
                />
              </div>
              <div class="details">
                <p class="display-name">{{ user.displayname }}</p>

{#                <div class="session-status">#}
{#                  <i class="fas fa-circle"></i>#}
{#                </div>#}
                <!--
                @TODO implement
                <p class="last-msg">
                  Show latest messages @TODO here now and why do touy this n rklismn erbtrfndfns
                </p>

                -->
              </div>
              <div class="unread">
{#                <span class="time">12:53</span> @TODO implemet#}
                <span class="icon pending">
                  {% for unread in data['unread_messages'] if unread['from'] == user.id %}
                    <span class="unread-count">
                      {{ unread['message_count'] }}
                    </span>
                  {% endfor %}
                </span>
              </div>
            </div>

          </div>
        {% endfor %}
      </div>
    </div>
    <!-- User listing -->

    <!-- Message listing right view-->

    <div class="messages-view no-show">
      <div class="header">
        <div class="user-image">
{#          @TODO remove image 53#}
          <img
            alt="User image"
            src="{{ file_url(data['users'][53].user_picture.entity.fileuri)  }}"
            loading="lazy"
            onerror="this.onerror=null;this.src='{{ dru_chat_missing_image }}';"
          />

        </div>
        <div class="chat-with"> Chat with: <span class="username"> ... </span></div>
      </div>
      <!-- We attach message lists here, but also below is the chat input-->
      <!-- MSG listing Div -->
      <div class="message-list" id="messages">

      </div>
      <!-- MSG list div -->

      <!-- Input -->
      <div class="chat-input">
        <input type="text"
               name="message"
               class="submit"
               placeholder="Type a message..."
               title="Message input"
        >
      </div>
    </div>

    <!-- Message listing view -->

  </div>
</section>

