<div class="message-wrapper no-show"

>
  <span id="details"
    data-total-pages="{{ data['pages']['total_pages']  }}"
    data-current-page="{{ data['pages']['current_page']  }}"
    data-total-items="{{ data['pages']['total_items']  }}"
  >
  </span>
  <ul class="messages">
    {% if data['messages'] is empty %}
        <li class="message clearfix">
            <p> No messages between you and this user. </p>
        </li>
      {% else %}
        {% for key, message in data['messages'] %}
          <li class="message clearfix">

            <div class={{ message.from == user.id ? 'sent' : 'received' }}>
              <p>{{ message.message }} </p>
              <p class="date">{{ message.created|date('d M y, h:i a') }}</p>
              {% if message.from == user.id %}
                <div class={{ message.is_read ? 'read' : 'unread' }}></div>
              {% endif %}

            </div>
          </li>
        {%  endfor %}
    {% endif %}


    </ul>
</div>

<div class="input-text dru-chat-message-box no-show">
    <input type="text" name="message" class="submit">
</div>

